{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<!--
  --  ██████   █████                            █████                                 
  -- ░░██████ ░░███                            ░░███                                  
  --  ░███░███ ░███  █████ ████ █████ ███ █████ ░███████    ██████  ████████   ██████ 
  --  ░███░░███░███ ░░███ ░███ ░░███ ░███░░███  ░███░░███  ███░░███░░███░░███ ███░░███
  --  ░███ ░░██████  ░███ ░███  ░███ ░███ ░███  ░███ ░███ ░███████  ░███ ░░░ ░███████ 
  --  ░███  ░░█████  ░███ ░███  ░░███████████   ░███ ░███ ░███░░░   ░███     ░███░░░  
  --  █████  ░░█████ ░░███████   ░░████░████    ████ █████░░██████  █████    ░░██████ 
  -- ░░░░░    ░░░░░   ░░░░░███    ░░░░ ░░░░    ░░░░ ░░░░░  ░░░░░░  ░░░░░      ░░░░░░  
  --                  ███ ░███                                                        
  --                 ░░██████                                                         
  --                  ░░░░░░                                                          
  -->

<div class="container-fluid">
    <div class="row">
        <!-- first -->
        <div class="col-md-3">
            {# Party flash #}
            {% block partyMessage %}{% include "block/_partyMessage.html.twig" %}{% endblock %}
            {% block comment %}{% include "block/_comment.html.twig" %}{% endblock %}
        </div>
        <!-- middle -->
        <div class="col-md-6">
            <span>
                <div id="btn-back" type="button" class="btn btn-circle">
                    <a id="home-button" href="{{ path('app_default') }}"><i class="fas fa-home"></i></a>
                </div>
                <span>
                    <a class="white" href="{{ path('app_default') }}">Accueil</a>
                    <span>
                        <a id="btn-success" type="button" class="btn float-right" href="{{ path('app_forum_new') }}"><i class="fas fa-feather-alt"></i> Forum</a>
                    </span>
                </span>
            </span>
            <div class="table">
                {% for forum in forums %}
                <div id="card" class="container-fluid card shadow mb-3">
                    <div class="card-body">
                        <span class="float-left">
                            <h3 class="card-title">{{forum.getTitle()|raw}}</h3>
                        </span>
                        <span class="float-right">
                            <a id="btn-warning" type="button" class="btn btn-circle"
                                href="{{ path('app_forum_edit', {'slug': forum.getSlug()}) }}"><i class="fas fa-drafting-compass"></i>
                            </a>
                            <a id="btn-success" type="button" class="btn btn-circle"
                                href="{{ path('app_category_new', {'slug': forum.getSlug()}) }}"><i class="fas fa-plus"></i>
                            </a>
                        </span>
                        {% if forum.getDescription() is defined and forum.getDescription() is not null %}
                        <p id="description" class="card-text">{{ forum.getDescription()|raw }}</p>
                        {% endif %}
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                {% for category in forum.getCategory() %}
                                <tr>
                                    <div class="container">
                                        <div class="row">
                                            <th scope="row"><i id="bookmark" class="col-1 far fa-bookmark"></i></th>
                                            <td class="col-6">
                                                <a
                                                    href="{{ path('app_category', {'slug': category.getSlug(), 'page': 1}) }}">
                                                    <h6>{{ category.getTitle() }}</h6>
                                                </a>
                                                </n>
                                                {% if category.getDescription() is defined and category.getDescription() is not null %}
                                                <p>{{ category.getDescription()|striptags|u.truncate(50, '...')|raw }}
                                                </p>
                                                {% endif %}
                                            </td>
                                            <td class="col-1">
                                                <p id="topic-message" class="text-center font-weight-bold">
                                                    {{ category.getTopic()|length }}
                                                </p>
                                                </n>
                                                {% if category.getTopic()|length <= 1 %}
                                                <p class="text-center font-weight-light">sujet</p>
                                                {% else %}
                                                <p class="text-center font-weight-light">sujets</p>
                                                {% endif %}
                                            </td>
                                            <td class="col-1">
                                                <p id="topic-message" class="text-center font-weight-bold">
                                                    {{ messages(category) }}</p>
                                                </n>
                                                {% if messages(category) <= 1 %}
                                                <p class="text-center font-weight-light">message</p>
                                                {% else %}
                                                <p class="text-center font-weight-light">messages</p>
                                                {% endif %}
                                            </td>
                                            <td class="col-4">
                                                <!-- TODO -->
                                                {% set post = lastPost(category) %}
                                                {% if post is not null %}
                                                <div id="last_post_card">
                                                    <div id="last_post_header">
                                                        <h6 class="card-title"><img src="https://eu.ui-avatars.com/api/?rounded=true&color=fff&size=25" class="align-self-start mr-3" alt="...">{{ post.author }}</h6>
                                                        <p class="card-text">{{ post.content }}</p>
                                                    </div>
                                                </div>
                                                {% else %}
                                                    <p>Aucun poste</p>
                                                {% endif %}
                                            </td>
                                        </div>
                                    </div>
                                </tr>
                                {% else %}
                                <div class="alert alert-success m-3" role="alert">
                                    <i class="fas fa-coffee"></i>
                                    <span class="p-4">
                                        Soyez la première personne à ajouter une catégorie dans ce forum !
                                    </span>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                {% block emptyForum %}{% include "block/_emptyForum.html.twig" %}{% endblock %}
                {% endfor %}
            </div>

            <a id="btn-success" type="button" class="btn float-right" href="{{ path('app_forum_new') }}"><i class="fas fa-feather-alt"></i> Forum</a>
        </div>
        <!-- last -->
        <div class="col-md-3">
            {% block discord %}{% include "block/_discordIntegration.html.twig" %}{% endblock %}
        </div>
        <!-- end -->
    </div>
    {% endblock %}
