{% extends 'base.html.twig' %}

{% block title %}Parties{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 navigation-path">
            <span>
                <div id="btn-back" type="button" class="btn btn-circle">
                    <a id="home-button" href="{{ path('app_default') }}"><i class="fas fa-home"></i></a>
                </div>
                <span>
                    <a class="white" href="{{ path('app_default') }}">Accueil</a>
                    <span>
                        <a id="btn-success" type="button" class="btn float-right" href="{{ path('app_party_new') }}"><i class="fas fa-users"></i> Partie</a>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for party in parties %}
            <div id="card" class="card">
                <div class="card-header">
                    <h5>Partie du {{ party.partyAt|date("d/m/Y", "Europe/Paris") }}</h5>
                    <cite>({{ party.partyAt|ago }})</cite>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        {% if party.description is not null %}
                        <p>{{ party.description|raw }}</p>
                        {% else %}
                        <p>Aucune description</p>
                        {% endif %}
                    </blockquote>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Organisé par
                        {% if party.user %}
                        {{ party.user.pseudo }}
                        {% else %}
                        Anonyme
                        {% endif %}
                        <cite title="Source Title"> {{ party.updatedAt|ago }}</cite>
                    </small>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}