{% extends 'base.html.twig' %}

{% block title %}{{ topic.title|raw }}{% endblock %}

{% block body %}

<!--
  --  ██████   █████                            █████                                 
  -- ░░██████ ░░███                            ░░███                                  
  --  ░███░███ ░███  █████ ████ █████ ███ █████ ░███████    ██████  ████████   ██████ 
  --  ░███░░███░███ ░░███ ░███ ░░███ ░███░░███  ░███░░███  ███░░███░░███░░███ ███░░███
  --  ░███ ░░██████  ░███ ░███  ░███ ░███ ░███  ░███ ░███ ░███████  ░███ ░░░ ░███████ 
  --  ░███  ░░█████  ░███ ░███  ░░███████████   ░███ ░███ ░███░░░   ░███     ░███░░░  
  --  █████  ░░█████ ░░███████   ░░████░████    ████ █████░░██████  █████    ░░██████ 
  -- ░░░░░    ░░░░░   ░░░░░███    ░░░░ ░░░░    ░░░░ ░░░░░  ░░░░░░  ░░░░░      ░░░░░░  
  --                  ███ ░███                                                        
  --                 ░░██████                                                         
  --                  ░░░░░░                                                          
  -->

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <span>
                <a id="btn-back" type="button" class="btn btn-circle" href="{{ path('default') }}"><i class="fas fa-home"></i></i></a>
                <span>
                    <a class="white" href="{{ path('default') }}">Accueil</a> <i class="fas fa-arrow-right"></i> <a class="white" href="{{ path('default') }}">{{ topic.category.forum.title|raw }}</a> <i class="fas fa-arrow-right"></i> <a class="white" href="{{ path('default') }}">{{ topic.category.title|raw }}</a> <i class="fas fa-arrow-right"></i> <font class="font-weight-bold">{{ topic.title }}</font>
                    <span>
                        <a id="btn-success" type="button" class="btn float-right" href="#repondre"><i class="fas fa-feather-alt"></i> Répondre</a>
                    </span>
                </span>
            </span>

            <br><br>

            <!-- topic -->
            <div class="media">
                <img src="..." class="align-self-start mr-3" alt="...">
                <div id="card" class="card shadow mb-3 p-3">
                    <div class="media-body">
                        <span>
                            <h3 id="topic-title" class="float-left">{{ topic.title|raw }}</h3>
                            <span>
                                <small id="topic-publishedAt" class="float-left"> le {{ topic.createdAt|date("m/d/Y") }}</small>
                            </span>
                        </span>
                        <br><br>
                        <p>{{ topic.content|raw }}</p>
                    </div>
                    <span>
                        <a id="btn-danger" type="button" class="btn btn-circle float-right" href="#"><i class="fas fa-trash-alt"></i></a>
                        <a id="btn-warning" type="button" class="btn btn-circle float-right" href="{{ path('topic_edit', {'topic': topic.id}) }}"><i class="fas fa-wrench"></i></a>
                    </span>
                </div>
            </div>
            
            <br>

            <!-- TODO boucle for message -->
            {% for comment in topic.comments %}
            <div class="media">
                <img src="..." class="align-self-start mr-3" alt="...">
                <div id="card" class="card shadow mb-3 p-3">
                    <section id="repondre">
                        <span>
                            <h6 id="comment-title" class="float-left">{{ comment.author }}</h6>
                            <span>
                                <small id="comment-publishedAt" class="float-left">le {{ comment.createdAt|date("m/d/Y") }}</small>
                            </span>
                        </span>
                        <br><br>
                        {{ comment.content }}
                    </section>
                </div>
            </div>
            {% endfor %}

            <div class="media">
                <img src="..." class="align-self-start mr-3" alt="...">
                <div id="card" class="card shadow mb-3 p-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis suscipit, at illo eaque velit alias officiis quod omnis numquam dolores aliquam sint, incidunt et qui, adipisci consequatur reprehenderit eligendi quas.</p>
                    <section id="repondre">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_rest(form) }}
                        <span>
                            <button id="btn-success" type="submit" class="btn float-right"><i class="fas fa-feather-alt"></i> Répondre</button>
                        </span>
                        {{ form_end(form) }}
                    </section>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
