{% extends 'base.html.twig' %}

{% block title %}{{ topic.title|raw }}{% endblock %}

{% block body %}

<!--
  --  ██████   █████                            █████                                 
  -- ░░██████ ░░███                            ░░███                                  
  --  ░███░███ ░███  █████ ████ █████ ███ █████ ░███████    ██████  ████████   ██████ 
  --  ░███░░███░███ ░░███ ░███ ░░███ ░███░░███  ░███░░███  ███░░███░░███░░███ ███░░███
  --  ░███ ░░██████  ░███ ░███  ░███ ░███ ░███  ░███ ░███ ░███████  ░███ ░░░ ░███████ 
  --  ░███  ░░█████  ░███ ░███  ░░███████████   ░███ ░███ ░███░░░   ░███     ░███░░░  
  --  █████  ░░█████ ░░███████   ░░████░████    ████ █████░░██████  █████    ░░██████ 
  -- ░░░░░    ░░░░░   ░░░░░███    ░░░░ ░░░░    ░░░░ ░░░░░  ░░░░░░  ░░░░░      ░░░░░░  
  --                  ███ ░███                                                        
  --                 ░░██████                                                         
  --                  ░░░░░░                                                          
  -->

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <span>
                <a id="btn-back" type="button" class="btn btn-circle" href="{{ path('app_default') }}"><i
                        class="fas fa-home"></i></i></a>
                <span>
                    <a class="white" href="{{ path('app_default') }}">Accueil</a> <i class="fas fa-arrow-right"></i> <a
                        class="white" href="{{ path('app_default') }}">{{ topic.getCategory().getForum().getTitle()|raw }}</a> <i
                        class="fas fa-arrow-right"></i> <a class="white"
                        href="{{ path('app_category', {'slug': topic.getCategory().getSlug(), 'page': 1}) }}">{{ topic.getCategory().getTitle()|raw }}</a>
                    <i class="fas fa-arrow-right profile-img rounded-circle"></i>
                    <font class="font-weight-bold">{{ topic.getTitle() }}</font>
                    <span>
                        <a id="btn-success" type="button" class="btn float-right" href="#repondre"><i
                                class="fas fa-feather-alt"></i> Répondre</a>
                    </span>
                </span>
            </span>

            <br><br>

            <!-- topic -->
            <article>
                <div class="media">
                    <img src="https://eu.ui-avatars.com/api/?rounded=true&background={{ colour(topic.getUser().getPseudo()) }}&color=fff&name={{ topic.getUser().getPseudo()|first }}"
                        class="align-self-start mr-3" alt="...">
                    <div id="card" class="container-fluid card shadow mb-3 p-3">
                        <div class="media-body">
                            <span>
                                <h3 id="topic-title" class="float-left">{{ topic.getTitle()|raw }}</h3>
                                <span>
                                    <small id="topic-publishedAt" class="float-left">
                                        {{ topic.getCreatedAt()|ago }}</small>
                                </span>
                            </span>
                            <br><br>
                            <section>{{ topic.getContent()|raw }}</section>
                        </div>
                        <span>
                            <a id="btn-danger" type="button" class="btn btn-circle float-right" href="#"><i
                                    class="fas fa-trash-alt"></i></a>
                            <a id="btn-warning" type="button" class="btn btn-circle float-right"
                                href="{{ path('app_topic_edit', {'topic': topic.getId()}) }}"><i
                                    class="fas fa-wrench"></i></a>
                        </span>
                    </div>
                </div>
            </article>

            <br>

            {% for comment in comments %}
            <article>
                <div class="media">
                    {% if comment.getUser() is defined and comment.getUser() is not null  %}
                    <img src="https://eu.ui-avatars.com/api/?rounded=true&background={{ colour(topic.getUser().getPseudo()) }}&color=fff&name={{ comment.getUser().getPseudo()|first }}"
                        class="align-self-start mr-3" alt="...">
                    {% else %}
                    <img src="https://eu.ui-avatars.com/api/?rounded=true&background={{ colour(comment.getAuthor()) }}&color=fff&name={{ comment.getAuthor()|first }}"
                        class="align-self-start mr-3" alt="...">
                    {% endif %}
                    <div id="card" class="container-fluid card shadow mb-4 p-3">
                        <section id="repondre">
                            <div id="header-comment">
                                <span>
                                    <h6 id="comment-title" class="float-left">
                                        {% if comment.getUser() is defined and comment.getUser() is not null  %}
                                            {{ comment.getUser().getPseudo() }}
                                            <span id="badge-anonyme" class="badge badge-success">Utilisateur</span>
                                        {% else %}
                                            {{ comment.getAuthor() }}
                                            <span id="badge-anonyme" class="badge badge-secondary">Anonyme</span>
                                        {% endif %}
                                    </h6>
                                    <span>
                                        <small id="comment-publishedAt" class="float-left">
                                            {{ comment.getCreatedAt()|ago }}</small>
                                    </span>
                                </span>
                            </div>
                            <div class="">
                                {{ comment.getContent() }}
                            </div>
                        </section>
                    </div>
                </div>
            </article>
            {% endfor %}

            <div class="media">
                <!-- <img src="https://eu.ui-avatars.com/api/?rounded=true&background=a0a0a0&color=fff&name=Z" class="align-self-start mr-3" alt="..."> -->
                <div id="card" class="container-fluid d-inline-flexcard shadow mb-3 p-3">
                    <section id="repondre">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_rest(form) }}
                        <span>
                            <button id="btn-success" type="submit" class="btn float-right"><i
                                    class="fas fa-feather-alt"></i> Répondre</button>
                        </span>
                        {{ form_end(form) }}
                    </section>
                </div>
            </div>
            <div class="pagination">
                {{ knp_pagination_render(comments) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}